@import 'nib'
@import "lib/*"

global-reset()

html
body
	margin 0
	padding 0
	color $color1
	font-family $font
	.wrapper
		width 100%
		margin auto
		@media screen and (min-width 600px)
			width 80%
